a:hover {
  text-decoration: none;
}

.select2-container {
  width: 100% !important;
}

.is-invalid .select2-selection {
  border-color: #DC3545 !important;
}
.btn-info {
  color: #fff;
}

.card-footer {
  height: 63px;
  padding-top: 12px;
  padding-bottom: 12px;
}